{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div id="dp-section-header" class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col mb-5 text-center">
        <hr class="mt-4 mb-1">
        <h1 class="product-font">High Protein Diet</h1>
        <hr class="mt-1 mb-4">
    </div>
</div>
    <div id="diet-description" class="row eq-col-height align-start container-fluid justify-content-center">
        
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What is High Protein Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    Protein is incredibly important for good health.
                    It’s a nutrient that must be consumed every day to meet your body’s needs.
                    The Dietary Reference Intake (DRI) for protein is 0.36 grams per pound of body weight, or 0.8 grams per kilogram.
                    However, a lot of evidence supports a higher protein intake for weight loss and other health benefits.
                    This article takes a detailed look at protein’s beneficial effects and provides guidance for achieving the best results on a high-protein diet.
                </p>
                <p class="text-justify">
                    Why Protein is important for us:
                    Protein is one of the three macronutrients, along with carbs and fat.

                    In your body, it performs the following roles:
                    <ul>
                        <li><strong>Repair and maintenance:</strong>Protein is the main component of your muscles, bones, skin and hair. These tissues are continuously repaired and replaced with new protein.</li>
                        <li><strong>Hormones:</strong>Chemical messenger proteins allow cells and organs in your body to communicate with each other.</li>
                        <li><strong>Enzymes</strong>Most enzymes are proteins, and the thousands of chemical reactions that take place throughout your body are driven by them.</li>
                        <li><strong>Transportation and storage</strong>Some proteins help deliver important molecules where they’re needed. For example, the protein hemoglobin carries oxygen to your body’s cells.</li>
                    </ul>
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.healthline.com/" target="_blank">Healthline</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to Eat on a High Protein Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    The best choices for high-protein diets are foods with a high protein percentage. The protein percentage of a food tells you how much protein per calorie a food has. Foods with a lot of protein and less fat and carbohydrate are ranked higher, as are low-fat, low-carb foods with a lot of fiber.
                    Foods in the middle range of protein percentage can help you maintain your weight and your muscle mass. Going a little higher — over 30 or 35% — may help you lose weight.                    
                    Foods with a lower protein percentage may lead to weight gain, while foods with the highest protein percentage may be good choices for someone who is really trying to reduce body fat and become lean and fit.                    
                    Fortunately, most high-protein foods are delicious and have plenty of vitamins and minerals, too. You can start with this list of the best high-protein foods.
                    <ul>
                        <li><strong>Meat and poultry:</strong> beef, chicken, lamb, turkey</li>
                        <li><strong>Seafood:</strong> shrimp, crab, salmon, tuna</li>
                        <li><strong>Eggs:</strong> whole eggs or egg whites</li>
                        <li><strong>Dairy:</strong> cottage cheese, greek yogurt</li>
                        <li><strong>Legumes:</strong> Beans, lentils, peas, and soy</li>
                        <li><strong>Non-starchy vegetables:</strong> spinach, cauliflower, broccoli, mushrooms</li>
                    </ul>
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What about Protein Powders?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    Although our bias is that you should get most of your protein from whole foods, protein powders can still be part of a healthy, high-protein diet.
                    You may not need protein powders if you prioritize the food on our list of best high-protein foods. But if you fall short of your daily targets, protein powders are an easy and convenient way to get more protein.
                    Plus, protein powders are a great way to create high-protein versions of your favorite desserts, low-carb bread, or smoothies.
                    If you are going to use protein powders, make sure they have few additives, such as sweeteners, maltodextrin, seed oils, or fillers.
                    Animal and plant protein powders are both good options, and you can choose which works best for your taste, preferences, and carbohydrate goals.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>Benefits of High Protein Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    <ul>
                        <li><strong>Weight loss:</strong><br>
                        Multiple studies demonstrate higher protein intake helps with weight loss, specifically fat mass loss.</li> 
                        <br>
                        <li><strong>Metabolic benefits:</strong><br>
                        Studies show diets higher in protein contribute to better blood sugar control and improved insulin sensitivity when compared to lower protein diets. Can eating more protein raise insulin levels in an unhealthy way? Scientific studies don’t support this idea.
                        While protein may briefly increase insulin concentrations, high-protein diets are not known to cause chronic hyperinsulinemia (high insulin levels). In fact, for people with prediabetes or type 2 diabetes, a higher protein diet may be more beneficial than a lower protein one.</li>
                        <br>
                        <li><strong>Body composition:</strong><br>
                        Higher protein diets promote lean muscle mass and encourage loss of fat mass.</li>
                        <br>
                        <li><strong>Strength, bone health, and preventing frailty:</strong><br>
                        As people age, muscle mass and bone health decline, which, if not corrected, can lead to physical frailty along with an increased risk of falls and bone fractures. Eating more protein can counteract this trend toward frailty with improved muscle mass and bone health.</li> 
                        <br>
                        <li><strong>Satiety:</strong><br>
                        Part of the reason for weight loss and better glycemic control could be protein’s ability to decrease hunger. Numerous studies show that as the protein amount increases, feelings of hunger and the amount of food eaten the rest of the day go down.</li>
                    </ul>
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
                </p>
            </div>
        
    </div>

{% endblock %}