{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--<div id=banner class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-6 text-black">
                    Welcome to my Diet Store!
                    Here you can find everything that you need for your Diet in your Pantry.
                    Come and look around ...
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="color-secondary enter-button btn btn-lg text-uppercase py-3">Enter</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>-->
    
        
        <div id="section" class="container-fluid h-100">
            <div class="row h-100">
                <div class="col w-100">
                    <div id="carousel-banner" class="h-100 carousel slide" data-ride="carousel">
                        <div class="carousel-inner h-100">
                            <div class="h-100 carousel-item carousel-bg-slide-1 active">
                                <!--<img class="d-none d-md-block d-lg-block d-xl-block w-70 h-60" src="/media/carousel/carousel_all_tiny.PNG" alt="all diets slide"> -->
                            </div>
                            <div class="h-100 carousel-item carousel-bg-slide-2">
                                <!-- <img class="d-none d-md-block d-lg-block d-xl-block w-70 h-60" src="/media/carousel/carousel_keto_tiny.PNG" alt="keto slide"> -->
                            </div>
                            <div class="h-100 carousel-item carousel-bg-slide-3">
                                <!-- <img class="d-none d-md-block d-lg-block d-xl-block w-70 h-60" src="/media/carousel/carousel_low_carb_tiny.PNG" alt="low carb slide"> -->
                            </div>
                            <div class="h-100 carousel-item carousel-bg-slide-4">
                                <!-- <img class="d-none d-md-block d-lg-block d-xl-blockk w-70 h-60" src="/media/carousel/carousel_high_protein_tiny.PNG" alt="high protein slide"> -->
                            </div>
                            <div class="h-100 carousel-item carousel-bg-slide-5">
                                <!-- <img class="d-none d-md-block d-lg-block d-xl-block w-70 h-60" src="/media/carousel/carousel_dash_tiny.PNG" alt="dash slide"> -->
                            </div>
                            <div class="h-100 carousel-item carousel-bg-slide-6">
                                <!-- <img class="d-none d-md-block d-lg-block d-xl-block w-70 h-60" src="/media/carousel/carousel_mediterranean_tiny.PNG" alt="mediterranean slide"> -->
                            </div>
                            <div class="h-100 carousel-item carousel-bg-slide-7">
                                <!-- <img class="d-none d-md-block d-lg-block d-xl-block w-70 h-60" src="/media/carousel/carousel_atkins_tiny.PNG" alt="atkins slide"> -->
                            </div>
                            <div class="h-100 carousel-item carousel-bg-slide-8">
                                <!-- <img class="d-none d-md-block d-lg-block d-xl-block w-70 h-60" src="/media/carousel/carousel_paleo_tiny.PNG" alt="paleo slide"> -->
                            </div>
                            <div class="h-100 carousel-itemcarousel-bg-slide-9">
                                <!-- <img class="d-none d-md-block d-lg-block d-xl-block w-70 h-60" src="/media/carousel/carousel_52_tiny.PNG" alt="5:2 slide"> -->
                            </div>
                            <div class="carousel-caption d-block">
                                <h5>Doesn't matter which diet you follow. Fill up your pantry NOW!</h5>
                                <h4>
                                    <a href="" class="enter-button btn btn-lg text-uppercase py-2">Shop now</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-6 text-black">
                    Welcome to my Diet Store!
                    Here you can find everything that you need for your Diet in your Pantry.
                    Come and look around ...
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="enter-button btn btn-lg text-uppercase py-3">Enter</a>
                    </h4>
                </div>
            </div>
        </div>
    

   
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-6 text-black">
                    Welcome to my Diet Store!
                    Here you can find everything that you need for your Diet in your Pantry.
                    Come and look around ...
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="enter-button btn btn-lg text-uppercase py-3">Enter</a>
                    </h4>
                </div>
            </div>
        </div>
        
   

{% endblock %}