{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id=banner class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-6 text-black">
                    Welcome to my Diet Store!
                    Here you can find everything that you need for your Diet in your Pantry.
                    Come and look around ...
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="color-secondary enter-button btn btn-lg text-uppercase py-3">Enter</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-6 text-black">
                    Welcome to my Diet Store!
                    Here you can find everything that you need for your Diet in your Pantry.
                    Come and look around ...
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="enter-button btn btn-lg text-uppercase py-3">Enter</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-6 text-black">
                    Welcome to my Diet Store!
                    Here you can find everything that you need for your Diet in your Pantry.
                    Come and look around ...
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="enter-button btn btn-lg text-uppercase py-3">Enter</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}