{% extends "base.html" %}
{% load static %}

{% block page-header %}
<div id="dp-section-header" class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col mb-5 text-center">
        <hr class="mt-4 mb-1">
        <h1 class="product-font">LowCarb Diet</h1>
        <hr class="mt-1 mb-4">
    </div>
</div>
<div id="diet-description" class="row eq-col-height align-start container-fluid justify-content-center">

    <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
        <hr class="mt-5">
        <h4 class="product-font"><strong>What is LowCarb Diet?</strong></h4>
        <hr class="mb-3">
        <p class="text-justify">
            A low-carb diet means that you eat fewer carbohydrates and a higher proportion of protein and fat. This can
            also be called a keto diet. However, not all low-carb diets result in ketosis.
            For decades we’ve been told that fat is detrimental to our health. Meanwhile, low-fat “diet” products, often
            full of sugar, flooded supermarket shelves. This coincided with the beginning of the obesity epidemic and,
            in hindsight, was likely a major mistake. While the proliferation of low-fat products doesn’t prove
            causation, it’s clear the low-fat message didn’t prevent the increase in obesity, and we believe that it has
            contributed.
            Studies now suggest that there’s little reason to fear natural fats. Instead, on a low-carb diet you don’t
            have to fear fat. Simply minimize your intake of sugar and starches, make sure you are getting adequate
            protein — or even high amounts of protein — and you can eat enough natural fat to enjoy your meals.
            When you avoid sugar and starches, your blood sugar tends to stabilize, and the levels of the fat-storing
            hormone insulin drop, which may make it easier to burn fat stores in the body. In addition, the higher
            protein intake and presence of ketones (if eating very low carb) may make you feel more satiated, thereby
            naturally reducing food intake and promoting weight loss.
            <p class="mt-5">Source:
                <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
            </p>
    </div>

    <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
        <hr class="mt-5">
        <h4 class="product-font"><strong>What to Eat on a LowCarb Diet?</strong></h4>
        <hr class="mb-3">
        <p class="text-justify">
            You should base your diet on these real, unprocessed, low-carb foods.
            <ul>
                <li><strong>Meat:</strong> Beef, lamb, pork, chicken and others; grass-fed is best.</li>
                <li><strong>Fish:</strong> Salmon, trout, haddock and many others; wild-caught fish is best.</li>
                <li><strong>Eggs:</strong> Omega-3-enriched or pastured eggs are best.</li>
                <li><strong>Vegetables:</strong> Spinach, broccoli, cauliflower, carrots and many others.</li>
                <li><strong>Fruits:</strong> Apples, oranges, pears, blueberries, strawberries.</li>
                <li><strong>Nuts and seeds:</strong> Almonds, walnuts, sunflower seeds, etc.</li>
                <li><strong>High-fat dairy:</strong> Cheese, butter, heavy cream, yogurt.</li>
                <li><strong>Fats and oils:</strong> Coconut oil, butter, lard, olive oil and fish oil.</li>
            </ul>
            If you need to lose weight, be careful with cheese and nuts, as it’s easy to overeat on them. Don’t eat more
            than one piece of fruit per day.
        </p>
        <p class="mt-5">Source:
            <a href="https://www.healthline.com/" target="_blank">Healthline</a>
        </p>
    </div>

    <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
        <hr class="mt-5">
        <h4 class="product-font"><strong>How low carb is low carb?</strong></h4>
        <hr class="mb-3">
        <p class="text-justify">
            The lower your carbohydrate intake, the more powerful the effects may
            be on weight and blood sugar. For this reason, we recommend initially
            following the dietary advice fairly strictly. When you’re happy with
            your weight and health, you may carefully try eating more carbs if
            desired (although we find many people don’t want to).
            <br>
            A strict low-carb diet is often called a keto or ketogenic diet. It’s
            not a no-carb diet, but it contains less than 20 grams of net carbs per day.
        </p>
        <p class="mt-5">Source:
            <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
        </p>
    </div>

    <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
        <hr class="mt-5">
        <h4 class="product-font"><strong>What to avoid on a LowCarb Diet?</strong></h4>
        <hr class="mb-3">
        <p class="text-justify">
            You should avoid these six food groups and nutrients, in order of importance:
            <ul>
                <li><strong>Sugar:</strong> Soft drinks, fruit juices, agave, candy, ice cream and many other products
                    that contain added sugar.</li>
                <li><strong>Refined grains:</strong> Wheat, rice, barley and rye, as well as bread, cereal and pasta.
                </li>
                <li><strong>Trans fats:</strong> Hydrogenated or partially hydrogenated oils.</li>
                <li><strong>Diet and low-fat products:</strong> Many dairy products, cereals or crackers are
                    fat-reduced, but contain added sugar.</li>
                <li><strong>Highly processed foods:</strong> If it looks like it was made in a factory, don’t eat it.
                </li>
                <li><strong>tarchy vegetables:</strong> It’s best to limit starchy vegetables in your diet if you’re
                    following a very low-carb diet.</li>
            </ul>
            You must read ingredient lists even on foods labelled as health foods.
        </p>
        <p class="mt-5">Source:
            <a href="https://www.healthline.com/" target="_blank">Healthline</a>
        </p>
    </div>



</div>

{% endblock %}