{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div id="dp-section-header" class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col mb-5 text-center">
        <hr class="w-50 mt-4">
        <h1 class="product-font">LowCarb Diet</h1>
        <hr class="w-50 mb-4">
    </div>
</div>
    <div id="diet-description" class="row eq-col-height align-start container-fluid justify-content-center">
        
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What is LowCarb Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    A low-carb diet means that you eat fewer carbohydrates 
                    and a higher proportion of protein and fat. This can 
                    also be called a keto diet. However, not all low-carb 
                    diets result in ketosis.

                    For decades we’ve been told that fat is detrimental to 
                    our health. Meanwhile, low-fat “diet” products, often 
                    full of sugar, flooded supermarket shelves. This 
                    coincided with the beginning of the obesity epidemic 
                    and, in hindsight, was likely a major mistake. While 
                    the proliferation of low-fat products doesn’t prove 
                    causation, it’s clear the low-fat message didn’t 
                    prevent the increase in obesity, and we believe that 
                    it has contributed.

                    Studies now suggest that there’s little reason to fear
                     natural fats. Instead, on a low-carb diet you don’t 
                     have to fear fat. Simply minimize your intake of sugar 
                     and starches, make sure you are getting adequate 
                     protein — or even high amounts of protein — and you can 
                     eat enough natural fat to enjoy your meals.

                    When you avoid sugar and starches, your blood sugar tends 
                    to stabilize, and the levels of the fat-storing hormone 
                    insulin drop, which may make it easier to burn fat stores 
                    in the body. In addition, the higher protein intake and 
                    presence of ketones (if eating very low carb) may make 
                    you feel more satiated, thereby naturally reducing food 
                     and promoting weight loss.

                <p class="mt-5">Source:
                    <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to Eat on a LowCarb Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    What’s the most important thing to do to reach ketosis?
                    Avoid eating too many carbs. You’ll likely need to stay 
                    under 50 grams of net carbs (total carbs minus fiber) per day, 
                    ideally below 20 grams.
                    
                    The fewer carbs you eat, the more effective the diet appears to 
                    be for reaching ketosis, losing weight, or improving type 2 diabetes.

                    Counting carbs can be helpful at first. But if you stick to our 
                    recommended foods and recipes you can stay keto even without counting.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to drink on a Keto Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    What drinks are good on a low-carb diet? Water is perfect, and so 
                    is coffee or tea. Preferably don’t use sweeteners. A modest amount 
                    of milk or cream is okay in coffee or tea (but beware of caffe latte!).

The occasional glass of wine is fine, too.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.healthline.com/" target="_blank">Healthline</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to avoid on a LowCarb Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    Try to avoid foods containing a lot of carbs, both the sugary and the starchy kind.
                </p>
                <p class="text-justify">
                    Foods to stay away from include:
                    <ul>
                        <li>Bread, tortillas, muffins, bagels, pancakes</li>
                        <li>Pasta and rice</li>
                        <li>Cereal</li>
                        <li>Cakes, cookies, and other baked goods</li>
                        <li>Sugar and anything made with sugar</li>
                        <li>Most fruits and fruit juice</li>
                    </ul>
                    Also, avoid or limit highly processed foods and instead fill your diet 
                    with our recommended keto-friendly food options.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
                </p>
            </div>
        
    </div>

{% endblock %}