{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div id="dp-section-header" class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col mb-5 text-center">
        <hr class="w-50 mt-4">
        <h1 class="product-font">Mediterranean Diet</h1>
        <hr class="w-50 mb-4">
    </div>
</div>
    <div id="diet-description" class="row eq-col-height align-start container-fluid justify-content-center">
        
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What is Mediterranean Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    The keto diet is a low-carb, high-fat diet. It can help 
                    the body burn more fat, reduce hunger, and reduce blood 
                    sugar levels.
                </p>
                <p class="text-justify">
                    When you eat far fewer carbs, your body begins to burn fat
                    for fuel. This can put your body into a metabolic state 
                    called ketosis. In this state, your liver turns fat into 
                    small energy molecules called ketones, which your brain and 
                    other organs can use for energy.

                    Eating a keto diet lowers insulin levels, often dramatically, 
                    which can help you access your body fat stores for energy. 
                    Many studies show significant weight loss on keto, without 
                    having to count calories. Keto diets may have other positive 
                    health effects, such as reducing blood sugar levels.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to Eat on a Mediterranean Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    What’s the most important thing to do to reach ketosis?
                    Avoid eating too many carbs. You’ll likely need to stay 
                    under 50 grams of net carbs (total carbs minus fiber) per day, 
                    ideally below 20 grams.
                    
                    The fewer carbs you eat, the more effective the diet appears to 
                    be for reaching ketosis, losing weight, or improving type 2 diabetes.

                    Counting carbs can be helpful at first. But if you stick to our 
                    recommended foods and recipes you can stay keto even without counting.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to drink on a Mediterranean Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    Tea, coffee, and herbal tea are a few options. Soda, sparkling water, 
                    low carb juices, sports drinks, and energy drinks are good options, too. 
                    Although, you'll want to opt for low carb, no-sugar versions and look for 
                    products that use stevia instead of artificial sweeteners.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.healthline.com/" target="_blank">Healthline</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to avoid on a Mediterranean Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    Try to avoid foods containing a lot of carbs, both the sugary and the starchy kind.
                </p>
                <p class="text-justify">
                    Foods to stay away from include:
                    <ul>
                        <li>Bread, tortillas, muffins, bagels, pancakes</li>
                        <li>Pasta and rice</li>
                        <li>Cereal</li>
                        <li>Cakes, cookies, and other baked goods</li>
                        <li>Sugar and anything made with sugar</li>
                        <li>Most fruits and fruit juice</li>
                    </ul>
                    Also, avoid or limit highly processed foods and instead fill your diet 
                    with our recommended keto-friendly food options.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.dietdoctor.com/" target="_blank">DietDoctor</a>
                </p>
            </div>
        
    </div>

{% endblock %}