{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div id="dp-section-header" class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col mb-5 text-center">
        <hr class="w-50 mt-4">
        <h1 class="product-font">Mediterranean Diet</h1>
        <hr class="w-50 mb-4">
    </div>
</div>
    <div id="diet-description" class="row eq-col-height align-start container-fluid justify-content-center">
        
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What is Mediterranean Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    The Mediterranean diet is based on the traditional foods that people used to eat in countries bordering the Mediterranean Sea, including France, Spain, Greece, and Italy.
                </p>
                <p class="text-justify">
                    Researchers noted that these people were exceptionally healthy and had a low risk of many chronic conditions (1Trusted Source).

Although there are no strict rules or regulations for the diet, it typically encourages fruits, vegetables, whole grains, legumes, nuts, seeds, and heart-healthy fats. Processed foods, added sugar, and refined grains should be restricted (2Trusted Source).

Numerous studies have now shown that the Mediterranean diet can promote weight loss and help prevent heart attacks, strokes, type 2 diabetes, and premature death (3Trusted Source).

For this reason, the Mediterranean diet is often recommended for those looking to improve their health and protect against chronic disease.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.healthline.com/" target="_blank">HealthLine</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to Eat on a Mediterranean Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    Exactly which foods belong to the Mediterranean diet is controversial, partly because there’s variation between countries.

The diet examined by most studies is high in healthy plant foods and relatively low in animal products and meat. However, eating fish and seafood is recommended at least twice a week.

The Mediterranean lifestyle also involves regular physical activity, sharing meals with other people, and minimizing stress levels.

You can include a mix of fresh, frozen, dried, and canned fruits and vegetables, but check package labels for added sugar and sodium.

Ideally, you should base your diet on these healthy Mediterranean foods:
                    <ul>
                        <li><strong>Vegetables: </strong>tomatoes, broccoli, kale, spinach, onions, cauliflower, carrots, Brussels sprouts, cucumbers, potatoes, sweet potatoes, turnips</li>
                        <li><strong>Fruits: </strong>apples, bananas, oranges, pears, strawberries, grapes, dates, figs, melons, peaches</li>
                        <li><strong>Nuts, seeds, and nut butters: </strong>almonds, walnuts, macadamia nuts, hazelnuts, cashews, sunflower seeds, pumpkin seeds, almond butter, peanut butter</li>
                        <li><strong>Legumes: </strong>beans, peas, lentils, pulses, peanuts, chickpeas</li>
                        <li><strong>Whole grains: </strong>oats, brown rice, rye, barley, corn, buckwheat, whole wheat bread and pasta</li>
                        <li><strong>Fish and seafood: </strong>salmon, sardines, trout, tuna, mackerel, shrimp, oysters, clams, crab, mussels</li>
                        <li><strong>Poultry: </strong>chicken, duck, turkey</li>
                        <li><strong>Eggs: </strong>chicken, quail, and duck eggs</li>
                        <li><strong>Dairy: </strong>cheese, yogurt, milk</li>
                        <li><strong>Herbs and spices: </strong>garlic, basil, mint, rosemary, sage, nutmeg, cinnamon, pepper</li>
                        <li><strong>Healthy Fats: </strong>extra virgin olive oil, olives, avocados, and avocado oil</li>
                    </ul>
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.healthline.com/" target="_blank">HealthLine</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to drink on a Mediterranean Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    Water should be your go-to beverage on a Mediterranean diet.

This diet also includes moderate amounts of red wine — around one glass per day.

However, this is completely optional, and wine should be avoided by some people including, anyone who is pregnant, has difficulty drinking in moderation, or is taking certain medications that may interact with alcohol.

Coffee and tea are also healthy beverage choices on the Mediterranean diet. Be mindful of adding lots of added sugar or cream.

You’ll want to limit sugar-sweetened beverages, such as soda or sweet tea, which are very high in added sugar. Fruit juice would be OK to include in moderation, but you’re better off choosing whole fruits to get the benefit of fiber.
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.healthline.com/" target="_blank">Healthline</a>
                </p>
            </div>
    
            <div class="diet-card h-100 col-lg-5 col-md-8 col-sm-10">
                <hr class="mt-5">
                <h4 class="product-font"><strong>What to avoid on a Mediterranean Diet?</strong></h4>
                <hr class="mb-3">
                <p class="text-justify">
                    You should limit these processed foods and ingredients when following the Mediterranean diet:
                </p>
                <p class="text-justify">
                    Foods to stay away from include:
                    <ul>
                        <li><strong>Added sugar :</strong>added sugar is found in many foods but especially high in soda, candies, ice cream, table sugar, syrup, and baked goods</li>
                        <li><strong>Refined grains: </strong>white bread, pasta, tortillas, chips, crackers</li>
                        <li><strong>Trans Fats: </strong>found in margarine, fried foods, and other processed foods</li>
                        <li><strong>Refined Oils: </strong>soybean oil, canola oil, cottonseed oil, grapeseed oil</li>
                        <li><strong>Processed meat: </strong>processed sausages, hot dogs, deli meats, beef jerky</li>
                        <li><strong>Highly processed foods: </strong>fast food, convenience meals, microwave popcorn, granola bars</li>
                    </ul>
                    
                </p>
                <p class="mt-5">Source:
                    <a href="https://www.healthline.com/" target="_blank">Healthline</a>
                </p>
            </div>
        
    </div>

{% endblock %}