{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page-header %}
    <div id="dp-section-header" class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>

    <div class="container">
        <div class="row">
            <div class="col text-center">   
                <hr class="mt-4">
                    <h1 class="product-font text-uppercase">My Profile</h1>
                <hr class="mb-4">   
            </div>   
        </div>
        {{ profile }}
{% endblock %}
