<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link color-secondary-dark mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Diets
            </a>
            <div class="dropdown-menu dropdown-bg border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-text dropdown-item">KETO</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item ">Low Carb</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item ">High Protein</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item">Mediterranean</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link color-secondary-dark mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu dropdown-bg border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-text dropdown-item">By Price</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item ">By Rating</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item ">By Category</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link color-secondary-dark mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Baking Ingredients
            </a>
            <div class="dropdown-menu dropdown-bg border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-text dropdown-item">Oils and Fats</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item">Flours</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item">Sweeteners</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item">Bakemixes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link color-secondary-dark mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Supplements
            </a>
            <div class="dropdown-menu dropdown-bg border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-text dropdown-item">Protein Powders</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item">Snacks</a>
                <hr>
                <a href="" class="dropdown-text dropdown-item">Vitamins</a>
            </div>
        </li>

    </ul>
</div>