{% extends 'base.html' %}
{% load static %}

{% block page-header %}
    <div id="dp-section-header" class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid large-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="error-font my-3">Ooops! I am a 500 Error page. It seems something went wrong. Click on the button below to get home and hope do not meet again ...</h1>
                <hr class="w-50 mb-5">
                <a class="btn btn-info btn-lg  mt-5" href="{% url 'home' %}">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase font-weight-bold">Let's Go Home</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}