<div class="row py-2">
    <div class="col">
        <div id="carouselExampleSlidesOnly" class="carousel slide py-3" position="sticky" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item carousel-bg-slide-1 active"></div>
                <div class="carousel-item carousel-bg-slide-2"></div>
                <div class="carousel-item carousel-bg-slide-3"></div>
                <div class="carousel-item carousel-bg-slide-4"></div>
                <div class="carousel-item carousel-bg-slide-5"></div>
                <div class="carousel-item carousel-bg-slide-6"></div>
                <div class="carousel-item carousel-bg-slide-7"></div>
                <div class="carousel-item carousel-bg-slide-8"></div>
                <div class="carousel-item carousel-bg-slide-9"></div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5 text-center">
                <h3>Doesn't matter which diet you follow. Fill up your pantry <strong>NOW</strong>!</h3>
                <br>
                <h4>
                    <a href="{% url 'products' %}" class="py-4 enter-button btn btn-lg text-uppercase py-2">
                        <i class="pb-3 fas fa-door-open" aria-hidden="true"></i>
                        <h6><strong>Enter to the Store</strong></h6>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
</div>