<div id="mission" class="container-fluid dark-bg">
    <div class="row pb-3">
        <div class="col text-center">
            <h1>Our Mission</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec massa neque. Curabitur in luctus mauris. Curabitur non orci nec urna pulvinar bibendum eu sollicitudin massa. Sed non feugiat nisi. Donec aliquam dolor in odio accumsan lacinia sed sed tortor. Nullam ut mattis urna. In felis purus, dapibus nec viverra vitae, porta viverra nulla. Sed neque libero, dapibus at erat a, pretium rutrum sapien. Mauris urna elit, auctor sed ligula sed, tristique cursus mi.</p>
        </div>
    </div>
    <div class="row px-5 pt-4">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded" alt="...">
        </div>   
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>        
    </div>
    <div class="row px-5 pt-4">  
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>        
    </div>
    <div class="row px-5 pt-4">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>   
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>        
    </div>
    <div class="row px-5 pt-4">  
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>        
    </div>
    <div class="row px-5 pt-4">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>   
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>        
    </div>
    <div class="row px-5 pt-4">  
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>        
    </div>
</div>