<div id="mission" class="container-fluid">
    <div class="row pb-3 justify-content-center">
        <div class="col-10 text-center">
            <h1>Our Mission</h1>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec massa neque. Curabitur in luctus mauris. Curabitur non orci nec urna pulvinar bibendum eu sollicitudin massa. Sed non feugiat nisi. Donec aliquam dolor in odio accumsan lacinia sed sed tortor. Nullam ut mattis urna. In felis purus, dapibus nec viverra vitae, porta viverra nulla. Sed neque libero, dapibus at erat a, pretium rutrum sapien. Mauris urna elit, auctor sed ligula sed, tristique cursus mi.</p>
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 col-sm-10 pb-5">
                <div class="card ">
                    <img class="card-img-top" src="/media/benefits/long-life_480x480_tiny.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <p>"Live Longer"</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-5 col-md-5 col-sm-10 pb-5">
                <div class="card">
                    <img class="card-img-top" src="/media/benefits/healthy-skin_480x480_tiny.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <p>"Healthy Skin"</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 col-sm-10 pb-5">
                <div class="card">
                    <img class="card-img-top" src="/media/benefits/energetic-life_480x480_tiny.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <p>"Energy"</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-5 col-md-5 col-sm-10 pb-5">
                <div class="card">
                    <img class="card-img-top" src="/media/benefits/gut-health_480x480_tiny.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <p>"Gut Health"</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col pt-5 text-center">
            <h4>
                <a href="" class="py-4 enter-button btn btn-lg text-uppercase py-2">
                    <i class="pb-3 fas fa-door-open" aria-hidden="true"></i>
                    <h6><strong>Shop Now</strong></h6>
                </a>
            </h4>
        </div>
    </div>

        <!-- <div class="col-lg-3 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded" alt="...">
        </div>   
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>        
    </div>
    <div class="row px-5 pt-4">  
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>        
    </div>
    <div class="row px-5 pt-4">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>   
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>        
    </div>
    <div class="row px-5 pt-4">  
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>        
    </div>
    <div class="row px-5 pt-4">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>   
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>        
    </div>
    <div class="row px-5 pt-4">  
        <div class="col-md-6 col-sm-12 text-center">
            <p class="light-bold-text ">" We want you to live a longer happy life together with your loved Ones "</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="/media/benefits/family_480x480_tiny.jpg" class="rounded float-none" alt="...">
        </div>        
    </div> -->
    
</div>