<hr class="w-75 mb-3">
<div id="mission" class="container-fluid">
    <div class="row pb-3 justify-content-center">
        <div class="col-10 text-center">
            <h1>Our Mission</h1>
            <p class="text-justify">
                We at Diet Pantry feel responsible to help you live a long
                and healthy life. Because of this reason we have collected
                all the best quality diet ingredients, we believe in. All
                the products in the store were and beiing used by us. Does
                not matter what type of diet you follow, we are sure that
                you can find what you are looking for. Visit our page
                regularly, because we are adding new products every week.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 col-sm-10 pb-5">
                <div class="card ">
                    <img class="card-img-top"
                        src="https://mp4-diet-pantry.s3.eu-north-1.amazonaws.com/media/benefits/long-life_480x480_tiny.jpg"
                        alt="Long Life">
                    <div class="card-body text-center">
                        <p>"Live Longer"</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-10 pb-5">
                <div class="card">
                    <img class="card-img-top"
                        src="https://mp4-diet-pantry.s3.eu-north-1.amazonaws.com/media/benefits/healthy-skin_480x480_tiny.jpg"
                        alt="Healthy Skin">
                    <div class="card-body text-center">
                        <p>"Healthy Skin"</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 col-sm-10 pb-5">
                <div class="card">
                    <img class="card-img-top"
                        src="https://mp4-diet-pantry.s3.eu-north-1.amazonaws.com/media/benefits/energetic-life_480x480_tiny.jpg"
                        alt="Energetic Life">
                    <div class="card-body text-center">
                        <p>"Energy"</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-10 pb-5">
                <div class="card">
                    <img class="card-img-top"
                        src="https://mp4-diet-pantry.s3.eu-north-1.amazonaws.com/media/benefits/gut-health_480x480_tiny.jpg"
                        alt="Gut Health">
                    <div class="card-body text-center">
                        <p>"Gut Health"</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col pt-5 text-center">
                <h4>
                    <a href="{% url 'products' %}" class="py-4 enter-button btn btn-lg text-uppercase py-2">
                        <i class="pb-3 fas fa-door-open" aria-hidden="true"></i>
                        <h6><strong>Shop Now</strong></h6>
                    </a>
                </h4>
            </div>
        </div>
    </div>