{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div id="dp-section-header" class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <hr class="w-50 mt-4">
                    <h1 class="product-font">Products</h1>
                    <hr class="w-50 mb-4">
                    {% for c in current_categories %}
                        <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                            <span class="badge">{{ c.friendly_name }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="product-container col-10 offset-1 mt-3">
                    <div class="sorting-row row mt-1 mb-5">
                        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                            <div class="sort-select-wrapper mr-3 w-50">
                                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-md-first">
                            <p class="text-muted mt-3 ml-3 text-center text-md-left text-light-custom">
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                    <span class="small"><a class="text-decoration-none text-light" href="{% url 'products' %}">Products Home</a> | </span>
                                {% endif %}
                                {{ products|length }} Product(s){% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 shadow-lg">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <hr class="hr-card-body">
                                        <p class="mb-0">{{ product.name }}</p>
                                        {% if request.user.is_authenticated %}                                            
                                            <div class="row justify-content-center p-1">
                                                {% if request.user.is_superuser %}
                                                    <a class="btn-sm btn-warning m-1 text-center" href="{% url 'edit_product' product.id %}">
                                                        <i class="m-1 fas fa-edit"></i><br>Edit</a>
                                                    <a class="btn-sm btn-danger m-1 text-center" href="{% url 'delete_product' product.id %}">
                                                        <i class="m-1 fas fa-trash-alt"></i><br>Delete</a>
                                                {% endif %}
                                                <a class="btn-sm btn-info m-1 text-center" href="{% url 'add_to_favourites' product.id %}">
                                                    <i class="m-1 fas fa-thumbs-up"></i><br>Add to Favourites</a>
                                            </div>
                                        {% endif %}

                                        <hr class="hr-card-body mb-3">
                                    </div>
                                    <div class="card-footer pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <p class="lead mb-0 text-right font-weight-bold mt-3">${{ product.price }}</p>
                                                {% if product.category %}
                                                    <p class="small mt-1 mb-0">
                                                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                        </a>
                                                    </p>
                                                {% endif %} 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="w-75 mt-3 mb-3">
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
    <div class="btt-button shadow-sm">
        <a class="btt-link text-decoration-none d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}